.search-wrapper {
  width: 75%;
  position: relative;
  padding: 20px 60px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dde2e9;
  margin: 3% auto;
}

.input {
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  border: 1px solid #dde2e9;
}
